/* Reset & base */
html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Scrollbar */
/*:root {
	scrollbar-color: #b66148 #3c2823;
	scrollbar-width: thin;
}*/

::-webkit-scrollbar {
	width: 10px;
	height: 8px;
	background-color: #3c2823;
}

::-webkit-scrollbar-thumb {
	background: #b66148;
	border-radius: 10px;
}

/* Texts */

h1 {
	font-family: "PT Mono", monospace, monospace;
	font-weight: 400;
	font-style: normal;
	color: #FFFFFF;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-family: "PT Mono", monospace, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 15pt;
	color: #FFFFFF;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-family: "PT Mono", monospace, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 15pt;
	color: #ff8662;
	text-decoration: none;
	transition: color 0.5s ease;
	display: inline-flex;
	align-items: center;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:hover,
a:focus {
	color: #b66148;
	outline: none;
}

body {
	background-color: #221f1f;
	margin: 0;
	line-height: 1.5;
}

header {
	display: flex;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); /* Safari */
	padding: 25pt 30pt;
	z-index: 100;
}

.right {
	display: flex;
	justify-content: end;
	width: 100%;
}

.right a {
	padding: 0px 6px;
	text-decoration: none;
}

.right a:hover {
	color: #b66148;
}

.cursor {
	position: fixed;
	width: 40px;
	height: 40px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	pointer-events: none;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
	background: rgba(255, 134, 98, 0);
	transition: 
    width 0.3s ease,
    height 0.3s ease,
    border-color 0.3s ease,
	background 0.3s ease,
	backdrop-filter 0.3s ease;
	z-index: 999;
	will-change: transform;
}

.cursor.active {
	width: 60px;
	height: 60px;
	border-color: rgba(255, 134, 98, 0.3);
	background: rgba(255, 134, 98, 0.3);
	backdrop-filter: grayscale(100%);
	-webkit-backdrop-filter: grayscale(100%);
}

.unselectable {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

main {
	display: flex;
	justify-content: center;
}

.hello {
	height: calc(100vh - 449px);
	font-size: 1600%;
	align-content: center;
}

.underline {
	font-size: 60pt;
	align-content: center;
	color: #ff8662;
	animation: underline 0.5s infinite;
}

@keyframes underline {
	0%, 100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

.disabled_text {
	color: #858585;
}

.disabled_text a:hover {
	color: #616161;
}

.title {
	font-size: 60pt;
	align-content: center;
	margin: 0px;
	text-align: center;
}

.horizontal_box {
	display: flex;
}

.center {
	justify-content: center;
	align-content: center;
}

.font32 {
	font-size: 32pt;
}

.font16 {
	font-size: 16pt;
}

.no_margin {
	margin: 0px;
}

.gray_font {
	color: #858585;
}

.light_gray_font {
	color: #b6b6b6;
}

.orange_font {
	color: #ff8662;
}

.console {
	display: flex;
	background-color: #292727;
	height: 200px;
	border-radius: 15px;
	padding: 15px;
	max-width: 600px;
	overflow: auto;
}

.console::-webkit-scrollbar-thumb {
	background-color: #858585;
	border-radius: 0;
}

.console::-webkit-scrollbar {
	width: 15px;
	height: 8px;
	border-radius: 0 15px 15px 0;
	background-color: #292727;
}

.margin_top {
	margin-top: 15px;
}

@media (max-width: 768px) {
	.hello {
		font-size: 8rem;
		height: calc(100vh - 200px);
	}

	.title {
		font-size: 3rem;
	}

	.console {
		max-width: 90%;
		height: 300px;
	}
}

@media (max-width: 480px) {
	header {
		padding: 10px;
	}

	.right a {
		font-size: 12pt;
	}

	.hello {
		font-size: 5rem;
	}
}